body {
    font-family: Helvetica, Arial, sans-serif;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.main-content {
    color: white;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 25%;
    right: 0;
    left: 0;
}

#time {
    font-size: 128pt;
    font-weight: lighter;
    display: inline;
}

#am-pm {
    display: inline;
    font-weight: lighter;
}

#greeting {
    font-size: 36pt;
    font-weight: lighter;
}

.toolbar {
    color: lightgray;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14pt;
}

i {
    margin: 10px;
    font-size: 14pt;
}

i:hover,
i:focus {
    color: white;
    cursor: pointer;
}

input {
    outline: none;
    font-size: 12pt;
}

#search-bar {
    display: none;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 250px;
}

.weather {
    color: lightgray;
    position: fixed;
    top: 10px;
    right: 50px;
    text-align: center;
}

#temp {
    font-weight: lighter;
    font-size: 20pt;
    margin-top: auto;
    margin-bottom: 5px;
}

#location {
    font-weight: lighter;
    font-size: 12pt;
    margin-top: 5px;
}

#settings-btn {
    transition: 0.5s;
}

.settings-area {
    color: lightgray;
    margin-left: 10px;
    position: fixed;
    bottom: 10px;
}

.settings-content {
    display: none;
    width: 35%;
    height: 50%;
    background-color: #111;
    position: fixed;
    bottom: 50px;
    left: 5px;
    opacity: 0.9;
}

.setting {
    padding: 10px;
}

.settingsLabels {
    font-weight: lighter;
    font-size: 12pt;
}

.settingsOption {
    font-weight: lighter;
    font-size: 12pt;
    float: right;
    margin: 5px;
}

.settingsOption:hover {
    color: white;
    cursor: pointer;
}

.settingsInputBox {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 45%;
}

.settingsInputBox:hover {
    cursor: text;
}

.enabled {
    color: white;
    border-bottom: 2px solid white;
}

.settings-title-content {
    text-align: center;
}

#closeSettings {
    position: absolute;
    top: 13px;
    right: 5px;
}

.date-content {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: lightgray;
}

#date {
    font-weight: lighter;
    font-size: 12pt;
}

.goal-content {
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
}

#goal-input {
    background: transparent;
    color: white;
    font-size: 24pt;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
    width: 33%;
}

#goal-question {
    font-size: 22pt;
    font-weight: lighter;
}

.goal {
    display: none;
}

#goal-title {
    font-size: 16pt;
}

#goal-name {
    font-size: 28pt;
    font-weight: lighter;
    display: inline;
}

#delete-goal {
    display: none;
    margin: 0;
    margin-left: 10px;
    font-size: 11pt;
    position: relative;
    left: 5px;
    bottom: 5px;
}

#finish-goal {
    display: none;
    margin: 0;
    font-size: 18pt;
    position: relative;
    right: 15px;
    bottom: 3px;
}